.click-form > .ember-view{
  border-top: 1px solid #ddd;
  margin: 0 40px;
  padding: 10px 0;
  transition: all 0.3s;
}

.click-form > .ember-view:first-child{
  border-top: none;
}

.click-form > .ember-view:hover{
  background: #f0f0f0;
  margin: 0;
  padding: 10px 40px;
  transition: all 0.3s;
}

.click-form .form-group{
  margin: 0;
}
